body{
  background-color: aquamarine;
}
section{
  margin-bottom: 10px;
}
.video{
  max-width: 100vh;
  background-color: rgb(72, 0, 255);
  height: 500px;
  border: 2px solid green;
}
.video__iframe{
  width: 100%;
  height: 100%;
}
.training__img{ 
  transition: 1s;
}
 
.training__img:hover{
  /* filter: blur(3px); */
/* filter: brightness(0.5); */
filter: drop-shadow(16px 10px gray);
}
textarea{
  width: 200px;
  height: 300px;
  background-color: blue;
  color: white;
  padding: 10px 15px;
  resize: vertical;
  border: none;
  border: 2px solid red;
  border-radius: 6px 23px;
}