html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
}

/* font-family: 'Open Sans', sans-serif;
font-family: 'Oswald', sans-serif; */

:root {
    --accent-color: #F7654A;
    --dark-color: #404149;
    --gray-color: #999;
    --white-color: #fff;
    --background-color: #E5E5E5;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

.text-h2 {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-style: 36px;
    text-transform: uppercase;
}

.text-h3 {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-style: 24px;
}

.text-h4 {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-style: 21px;
}

.text-p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-style: 16px;
}

.text-p-reviews {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-style: 14px;
    line-height: 21px;
}

.container {
    max-width: 1110px;
    margin: 0 auto;

}

.header {
    background-image: url(../img/First-screen.jpg);
    background-repeat: no-repeat;
    min-height: 740px;
}

.header__title {
    padding-top: 20px;
    margin-bottom: 112px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.logo {
    width: 60px;
    height: 60px;
}

.burger {
    width: 50px;
    height: 50px;
    background-color: var(--accent-color);
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.burger__line {
    display: block;
    background-color: #fff;
    width: 21px;
    height: 3px;
    margin-bottom: 3px;
}

.burger__line:last-child {
    margin-bottom: 0;
}

.h1 {
    max-width: 734px;
    margin: 0 auto 17px;
    color: var(--white-color);
    text-align: center;
    font-family: Oswald;
    font-size: 64px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.28px;
    text-transform: uppercase;
}

.h4 {
    max-width: 734px;
    margin: 0 auto;
    color: var(--white-color);
    text-align: center;
    font-family: Oswald;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.about {
    min-height: 1080px;
    position: relative;
}

.info {
    background-color: #999;
    position: absolute;
    max-width: 1110px;
    min-height: 300px;
    width: 100%;
    top: -150px;
    left: 50%;
    transform: translateX(-50%);
    padding: 57px 130px;
}


.about__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    justify-items: center;
}

.about__grid-item {
    text-align: center;
    width: 190px;
}

.about-h4 {
    color:var(--accent-color);
    text-align: center;
    font-size: 72px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 1px;
}

.about-h5 {
    color:var(--dark-color);
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.about-p {
    color: var(--white-color);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}