html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
}

img {
    display: block;
    max-width: 100%;
}

/* font-family: 'Open Sans', sans-serif;
font-family: 'Oswald', sans-serif; */

:root {
    --accent-color: #F7654A;
    --dark-color: #404149;
    --gray-color: #999;
    --white-color: #fff;
    --background-color: #E5E5E5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

.text-h2 {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-style: 36px;
    text-transform: uppercase;
}

.text-h3 {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-style: 24px;
}

.text-h4 {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-style: 21px;
}

.text-p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-style: 16px;
}

.text-p-reviews {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-style: 14px;
    line-height: 21px;
}

.container {
    max-width: 1110px;
    margin: 0 auto;

}

.header {
    background-image: url(../img/First-screen.jpg);
    background-repeat: no-repeat;
    min-height: 740px;
}

.header__title {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 20px;
    margin-bottom: 112px;
}

.logo {
    width: 60px;
    height: 60px;
}

.burger {
    width: 50px;
    height: 50px;
    background-color: var(--accent-color);
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.burger__line {
    display: block;
    background-color: #fff;
    width: 21px;
    height: 3px;
    margin-bottom: 3px;
}

.burger__line:last-child {
    margin-bottom: 0;
}

.h1 {
    max-width: 734px;
    margin: 0 auto 17px;
    color: var(--white-color);
    text-align: center;
    font-family: Oswald;
    font-size: 64px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.28px;
    text-transform: uppercase;
}

.h4 {
    max-width: 734px;
    margin: 0 auto;
    color: var(--white-color);
    text-align: center;
    font-family: Oswald;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.about {
    padding-top: 250px;
    min-height: 1080px;
    position: relative;
}

.info {
    background-color: #999;
    position: absolute;
    max-width: 1110px;
    min-height: 300px;
    width: 100%;
    top: -150px;
    left: 50%;
    transform: translateX(-50%);
    padding: 57px 130px;
}


.about__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    justify-items: center;
}

.about__grid-item {
    text-align: center;
    width: 190px;
}

.about-h4 {
    color: var(--accent-color);
    text-align: center;
    font-size: 72px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 1px;
}

.about-h5 {
    color: var(--dark-color);
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.about-p {
    color: var(--white-color);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.project-h2 {
    text-align: center;
    margin-bottom: 60px;
    color: var(--Dark);
    font-family: Oswald;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
}

.project__flex {
    display: flex;
}

.project__flex-item {
    max-width: 350px;
    margin-right: 30px;
}

.project__flex-item:last-child {
    margin-right: 0;
}

.project-img {
    margin-bottom: 45px;
}

.project__line {
    width: 55px;
    height: 6px;
    background-color: var(--accent-color);
    margin-bottom: 15px;
}

.project-h4 {
    margin-bottom: 20px;
    color: var(--Dark, #404149);
    font-family: Oswald;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}



.project-p {
    color: #999;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.request {
    background-color: var(--accent-color);
    padding-top: 30px;
    padding-bottom: 45px;
}

.request__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}



.request-h2 {
    padding-top: 30px;
    color: var(--white-color);
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.96px;
    text-transform: uppercase;
    /* margin-bottom: 20px; */
}

.request-p {
    color: var(--white-color);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.48px;
    text-transform: uppercase;
    margin-bottom: 45px;
} 

.request__flex-btn {
    display: flex;
    align-items: center;
    /* text-align: center; */
    padding: 14px 30px;
    background-color: #fff;
    border: none;
}

.btn-img {
    margin-right: 15px;
}

.btn-p {
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.7px;
    text-transform: uppercase;
}

.services {
   padding: 150px 0; 
}

.services-h2 {
    text-align: center;
}
.services__grid {
}
.services__grid-item {
}
.services-img {
}

.services-h4 {
}

@media screen and (max-width: 1280px) {
    .about__grid {

        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

}

@media screen and (max-width: 780px) {
    .info {
        position: relative;
    }

    .about__grid {

        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }

}

/* media about */
@media screen and (max-width: 1280px) {
    .about {
        padding: 450px 15px 110px 15px;
    }

}

@media screen and (max-width: 780px) {
    .about {
        padding-top: 150px;
        padding-bottom: 80px;
    }

    .project__flex {
        flex-direction: column;
        align-items: center;
    }

}
/* media request */
@media screen and (max-width: 1280px) {
    .request {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media screen and (max-width: 780px) {
    
    .request__flex {
        flex-wrap: wrap;
    }
}